<h1 style="text-align:center; font-size:36px; color:#2c3e50;">Data Exploration of the ABT_GroupI.xlsx Dataset</h1>
<hr style="border:1px solid #2c3e50;">
<p style="text-align:center; font-size:18px; color:#34495e;">
    This notebook explores the ABT_GroupI.xlsx dataset, analyzing its structure, key features, and potential insights through visualizations and statistical techniques.
</p>

<h2 style="text-align:center; font-size:24px; color:#2c3e50;">Project Members</h2>
<table style="width:50%; margin-left:auto; margin-right:auto; border-collapse:collapse; border:1px solid #2c3e50;">
    <tr style="background-color:#2c3e50; color:white;">
        <th style="padding:10px; border:1px solid #2c3e50;">Name</th>
        <th style="padding:10px; border:1px solid #2c3e50;">Student Nr.</th>
    </tr>
    <tr>
        <td style="padding:10px; border:1px solid #2c3e50;">Tim Straub</td>
        <td style="padding:10px; border:1px solid #2c3e50;">Studen Nr.:</td>
    </tr>
   <tr>
        <td style="padding:10px; border:1px solid #2c3e50;">Inêns Jacinto</td>
        <td style="padding:10px; border:1px solid #2c3e50;">Studen Nr.:</td>
    </tr>
    <tr>
        <td style="padding:10px; border:1px solid #2c3e50;">Zofia Wójcik</td>
        <td style="padding:10px; border:1px solid #2c3e50;">Studen Nr.:</td>
    </tr>
    <tr>
        <td style="padding:10px; border:1px solid #2c3e50;">Philippe Dutranoit</td>
        <td style="padding:10px; border:1px solid #2c3e50;">Studen Nr.:</td>
    </tr>
    <tr>
        <td style="padding:10px; border:1px solid #2c3e50;">Benedikt Ruggaber</td>
        <td style="padding:10px; border:1px solid #2c3e50;">Studen Nr.:</td>
    </tr>
    <tr>
        <td style="padding:10px; border:1px solid #2c3e50;">Joshua Wehr</td>
        <td style="padding:10px; border:1px solid #2c3e50;">20250501</td>
    </tr>
</table>

In [2]:
#Imports
import pandas as pd

In [3]:
# Load the dataset
file_path = 'ABT_GroupI.xlsx'
data = pd.read_excel(file_path)

# Display the first few rows of the dataset
data.head()

,cust_id,Age,Gender,Kids,City,Amount_of_money,Type_of_costumer,First_purchase,Last_purchase,Customer_Since,...,Percentage_Clothing,Percentage_Electronics,Percentage_Footwear,Percentage_Home_and_kitchen,Percentage_Online,Percentage_Store,Percentage_Catalog,Percentage_Cash,Percentage_Paypal,Percentage_CreditCard
0,266799,44,F,1,Madrid,11061.050,bron,2013-09-24,2013-09-24,2013,...,0.250,0.000000,0.000,0.000000,1.00,0.000000,0.000000,0.0,0.00,1.00
1,266806,23,F,1,Vigo,16439.085,silv,2013-02-21,2013-11-28,2013,...,0.125,0.000000,0.125,0.125000,0.25,0.750000,0.000000,0.0,0.25,0.75
2,266814,32,F,1,Burgos,19615.960,silv,2013-03-06,2013-03-16,2013,...,0.000,0.166667,0.000,0.333333,0.00,0.666667,0.333333,0.0,0.00,1.00
3,266816,40,M,1,Santander,10274.290,bron,2013-03-29,2013-08-09,2013,...,0.250,0.250000,0.250,0.000000,1.00,0.000000,0.000000,0.0,1.00,0.00
4,266819,32,M,1,Huelva,16738.540,silv,2013-03-21,2013-09-05,2013,...,0.000,0.125000,0.125,0.000000,0.25,0.750000,0.000000,0.0,0.25,0.75

In [4]:
# Calculate mean, median, and mode for numerical columns
mean_values = data.mean(numeric_only=True)
median_values = data.median(numeric_only=True)
mode_values = data.mode(numeric_only=True).iloc[0]

# Display the results
print("Mean:\n", mean_values)
print("\nMedian:\n", median_values)
print("\nMode:\n", mode_values)

Mean:
 cust_id                        271102.823718
Age                                32.822917
Kids                                0.945513
Amount_of_money                 15856.316146
Customer_Since                   2013.014423
Biggest_Tran                     5183.690469
Smallest_Tran                     737.412188
Average_Tran                     2581.509826
Tenure                            288.986378
Recency                           145.771635
Frequency                           6.120192
Mon_Books                        4091.662708
Mon_Clothing                     2120.239115
Mon_Footwear                     2089.008698
Mon_Home and kitchen             2745.091823
Mon_Bags                         1331.654271
Mon_Electronics                  3478.659531
Spendings_Online                 9061.749948
Spendings_Store                  3443.603229
Spendings_Catalog                3350.962969
Spendings_Credit Card            9868.240573
Spendings_Paypal                 5257.574062
Spendings_Cash                    730.501510
Percentage_Bags                     0.077173
Percentage_Books                    0.194599
Percentage_Clothing                 0.121416
Percentage_Electronics              0.180104
Percentage_Footwear                 0.115232
Percentage_Home_and_kitchen         0.143193
Percentage_Online                   0.518598
Percentage_Store                    0.209916
Percentage_Catalog                  0.271486
Percentage_Cash                     0.046019
Percentage_Paypal                   0.302374
Percentage_CreditCard               0.651607
dtype: float64

Median:
 cust_id                        271141.500000
Age                                33.000000
Kids                                1.000000
Amount_of_money                 13919.685000
Customer_Since                   2013.000000
Biggest_Tran                     5295.160000
Smallest_Tran                     567.970000
Average_Tran                     2531.969375
Tenure                            307.000000
Recency                           128.000000
Frequency                           6.000000
Mon_Books                        2943.167500
Mon_Clothing                      634.270000
Mon_Footwear                      548.632500
Mon_Home and kitchen             1410.532500
Mon_Bags                            0.000000
Mon_Electronics                  2217.182500
Spendings_Online                 6297.947500
Spendings_Store                     0.000000
Spendings_Catalog                1511.087500
Spendings_Credit Card            8150.480000
Spendings_Paypal                 1498.932500
Spendings_Cash                      0.000000
Percentage_Bags                     0.000000
Percentage_Books                    0.184659
Percentage_Clothing                 0.100000
Percentage_Electronics              0.166667
Percentage_Footwear                 0.100000
Percentage_Home_and_kitchen         0.125000
Percentage_Online                   0.500000
Percentage_Store                    0.000000
Percentage_Catalog                  0.200000
Percentage_Cash                     0.000000
Percentage_Paypal                   0.200000
Percentage_CreditCard               0.666667
dtype: float64

Mode:
 cust_id                        266799.000000
Age                                25.000000
Kids                                1.000000
Amount_of_money                  4782.440000
Customer_Since                   2013.000000
Biggest_Tran                     4795.700000
Smallest_Tran                     194.480000
Average_Tran                     1493.223333
Tenure                            421.000000
Recency                            52.000000
Frequency                           4.000000
Mon_Books                           0.000000
Mon_Clothing                        0.000000
Mon_Footwear                        0.000000
Mon_Home and kitchen                0.000000
Mon_Bags                            0.000000
Mon_Electronics                     0.000000
Spendings_Online                    0.000000
Spendings_Store                     0.000000
Spendings_Catalog                   0.000000
Spendings_Credit Card               0.000000
Spendings_Paypal                    0.000000
Spendings_Cash                      0.000000
Percentage_Bags                     0.000000
Percentage_Books                    0.000000
Percentage_Clothing                 0.000000
Percentage_Electronics              0.000000
Percentage_Footwear                 0.000000
Percentage_Home_and_kitchen         0.000000
Percentage_Online                   1.000000
Percentage_Store                    0.000000
Percentage_Catalog                  0.000000
Percentage_Cash                     0.000000
Percentage_Paypal                   0.000000
Percentage_CreditCard               1.000000
Name: 0, dtype: float64

In [5]:
# Check for null values and count them for each column
null_counts = data.isnull().sum()

# Display the null counts
print(null_counts)

cust_id                        0
Age                            0
Gender                         0
Kids                           0
City                           0
Amount_of_money                0
Type_of_costumer               0
First_purchase                 0
Last_purchase                  0
Customer_Since                 0
Biggest_Tran                   0
Smallest_Tran                  0
Average_Tran                   0
Tenure                         0
Recency                        0
Frequency                      0
Mon_Books                      0
Mon_Clothing                   0
Mon_Footwear                   0
Mon_Home and kitchen           0
Mon_Bags                       0
Mon_Electronics                0
Spendings_Online               0
Spendings_Store                0
Spendings_Catalog              0
Spendings_Credit Card          0
Spendings_Paypal               0
Spendings_Cash                 0
Percentage_Bags                0
Percentage_Books               0
Percentage_Clothing            0
Percentage_Electronics         0
Percentage_Footwear            0
Percentage_Home_and_kitchen    0
Percentage_Online              0
Percentage_Store               0
Percentage_Catalog             0
Percentage_Cash                0
Percentage_Paypal              0
Percentage_CreditCard          0
dtype: int64

In [6]:
# Find the 10 highest spending customers
top_spenders = data.sort_values(by='Amount_of_money', ascending=False).head(10)

# Display the result
print(top_spenders)

      cust_id  Age Gender  Kids      City  Amount_of_money Type_of_costumer  \
251    268624   28      F     1    Bilbau        83519.215             gold
371    269365   22      M     1    Huelva        65641.420             gold
32     267045   25      M     1    Huelva        62324.210             gold
765    272069   42      F     1    Huelva        56017.975             gold
766    272074   42      F     1      Vigo        53578.135             gold
882    272795   44      M     1    Bilbau        52939.445             gold
730    271824   34      M     1    Madrid        52775.905             gold
1062   274073   43      M     1      Vigo        52451.035             gold
647    271306   27      M     1    Burgos        51653.225             gold
512    270374   30      M     1  Benidorm        51355.980             gold

     First_purchase Last_purchase  Customer_Since  ...  Percentage_Clothing  \
251      2013-03-27    2013-09-18            2013  ...             0.090909
371      2013-03-25    2014-01-01            2013  ...             0.115385
32       2013-02-11    2014-02-03            2013  ...             0.083333
765      2013-01-15    2014-02-15            2013  ...             0.111111
766      2013-01-04    2013-01-30            2013  ...             0.052632
882      2013-07-18    2014-02-04            2013  ...             0.100000
730      2013-02-05    2013-09-06            2013  ...             0.142857
1062     2013-04-03    2013-10-24            2013  ...             0.000000
647      2013-02-26    2013-02-27            2013  ...             0.062500
512      2013-02-19    2013-04-29            2013  ...             0.045455

      Percentage_Electronics  Percentage_Footwear  \
251                 0.136364             0.090909
371                 0.115385             0.192308
32                  0.208333             0.125000
765                 0.055556             0.055556
766                 0.105263             0.105263
882                 0.050000             0.050000
730                 0.142857             0.000000
1062                0.111111             0.222222
647                 0.125000             0.062500
512                 0.090909             0.045455

      Percentage_Home_and_kitchen  Percentage_Online  Percentage_Store  \
251                      0.090909           0.818182          0.181818
371                      0.076923           0.923077          0.000000
32                       0.125000           0.500000          0.416667
765                      0.111111           0.777778          0.222222
766                      0.105263           1.000000          0.000000
882                      0.100000           0.800000          0.000000
730                      0.142857           0.714286          0.142857
1062                     0.222222           0.777778          0.222222
647                      0.125000           1.000000          0.000000
512                      0.090909           0.818182          0.000000

      Percentage_Catalog  Percentage_Cash  Percentage_Paypal  \
251             0.000000         0.000000           0.000000
371             0.076923         0.000000           0.692308
32              0.083333         0.250000           0.416667
765             0.000000         0.000000           0.111111
766             0.000000         0.000000           0.421053
882             0.200000         0.000000           0.800000
730             0.142857         0.142857           0.428571
1062            0.000000         0.222222           0.777778
647             0.000000         0.000000           1.000000
512             0.181818         0.000000           0.000000

      Percentage_CreditCard
251                1.000000
371                0.307692
32                 0.333333
765                0.888889
766                0.578947
882                0.200000
730                0.428571
1062               0.000000
647                0.000000
512                1.000000

[10 rows x 40 columns]

In [7]:
average_age_top_spenders = top_spenders['Age'].mean()
print("Average Age of Top Spenders:", average_age_top_spenders)

Average Age of Top Spenders: 33.7